{% extends '¤extends¤' %}
{% set route =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))%}
{% set action =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))| split('/')| last%}
{% set current_path = app.request.get('_route') %}
{#BLOCK#}
{% block title %}
	¤Entity¤
{% endblock %}

{% block body %}

	{#BLOCK#}
	¤tableauChoice¤
	<h1>¤Entity¤</h1>
	{#BLOCK#}
	<div>
		{{ knp_pagination_filter(pagination, {
                    'r.recherche': 'Recherche',
                }) }}
		{% if pagination.getTotalItemCount>0  %}
			<div>
				{{ pagination.getTotalItemCount }}
				trouvé</div>
		{% endif %}
		<table class="table table-striped table-hover align-middle">
			<thead>
				<tr>
					{#BLOCK#}
					¤entete¤
					{#BLOCK#}
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="sortable">
				{% for ¤Entity¤ in pagination %}
					{#BLOCK#}
					{% if ¤hide¤ %}
						{#BLOCK#}
						<tr
							data-num="{{¤Entity¤.id }}">
							{#BLOCK#}
							¤rows¤
							{#BLOCK#}
							<td>
								{#BLOCK#}
								<form method="post" action="{{ path('¤entity¤_delete', {'id': ¤Entity¤.id }) }}" style="margin-block-end: 0;">
									<div
										class="btn-group" role="group" aria-label="actions">
										{#BLOCK#}
										<input type="hidden" name="_token" value="{{ csrf_token('delete'~¤Entity¤.id ) }}"/>
										¤no_action_edit¤
										{#BLOCK#}
										{% if ¤no_access_deleted¤ %}
											{% if action=='deleted' %}
												{#BLOCK#}
												<button class="btn btn-xs btn-warning" title="restaurer" name="delete_restore" value="1">
													<i class="icone bi bi-life-preserver"></i>
												</button>
												<button class="btn btn-xs btn-danger" title="supprimer définitivement" onclick="return confirm('Etes-vous sûr de vouloir effacer cet item?');" name="delete_delete" value="1">
													<i class="icone bi bi-trash"></i>
												</button>
											{% else %}
												{#BLOCK#}
												<button class="btn btn-xs btn-warning" title="mettre dans la corbeille" name="delete_softdelete" value="1">
													<i class="icone icone bi bi-trash"></i>
												</button>
											{% endif %}
										{% endif %}

										{#BLOCK#}


									</div>
								</form>
								{#BLOCK#}
							</td>
						</tr>
						{#BLOCK#}
					{% endif %}
					{#BLOCK#}
				{% else %}
					<tr>
						<td colspan="11">Aucun enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{#BLOCK#}
	<div class="row">
		{% if ¤no_action_add¤ %}
			<div class="col">
				<a class="btn btn-primary" data-toggle="tooltip" title="ajouter enregistrement" href="{{ path('¤entity¤_new') }}">Ajouter un enregistrement</a>
			</div>
		{% endif %}
		{% if ¤no_access_deleted¤ %}
			{% if action=='deleted' %}
				<div class="col-auto">
					<a class="text-muted" href="{{ path('¤entity¤_index') }}">voir les enregistrements</a>
				</div>
			{% else %}
				<div class="col-auto">
					<a class="text-muted" href="{{ path('¤entity¤_deleted') }}">voir les enregistrements supprimés</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
	{#BLOCK#}
	<div class="row">
		<div class="navigation col-auto mx-auto">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>

</div>{%endblock %}