{% extends '¤extends¤' %}

{% set route =
path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
{% set action =
path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) | split('/') | last %}
{% block
title %}
	{% if action=='new' %}
		Création
	{% elseif action=='copy' %}
		Duplication
	{% elseif action=='edit' %}
		Edition
	{% endif %}
	¤Entity¤
	{{¤entity¤.id}}
{% endblock %}
{% block body %}
	<script>
		function waitForElm( selector ) {
return new Promise( resolve => {
if ( document.querySelector( selector ) ) {
return resolve( document.querySelector( selector ) );
}

const observer = new MutationObserver( mutations => {
if ( document.querySelector( selector ) ) {
resolve( document.querySelector( selector ) );
observer.disconnect();
}
} );

observer.observe( document.body, {
childList: true,
subtree: true
} );
} );
}
waitForElm( '.sun-editor' ).then( ( elm ) => {
if ( {{ is_granted('ROLE_SUPERADMIN')?:0 }} == 0 ) {
document.querySelector( '.se-code-view-enabled' ).remove();
}
} );
	</script>
	<input type="hidden" id="TBuploadmax" value="{{ TBuploadmax() }}"/>

	<div class="col-12 text-center">
		<h1>
			{% if action=='new' %}
				Création
			{% elseif action=='copy' %}
				Duplication
			{%
		elseif action=='edit' %}
				Edition
			{% endif %}
			{{TBgetClass(¤entity¤)|lower|slice(0,1) in ['a','e','i','o','u','y'] ? "de l'¤Entity¤" : "du ¤Entity¤"}}

			{{¤entity¤.id}}
			{% if "¤viewerUrl¤" !="false" %}
				<span>
					<a href="¤viewerUrl¤/{{¤entity¤.¤viewerChamp¤}}" title="Afficher dans un autre onglet la page" target="_blank">
						<em class="bi bi-display"></em>
					</a>
				</span>
			{% endif %}
			<span
				class="text-right">{# <h5> taille maxi d'envoie:<span id="TBuploadmax">{{ TBuploadmax() }}</span >Mo </h5> #}
			</span>
		</h1>
	</div>

	<div class="col-12" data-turbo="false">
		{{ form_start(form,{'attr':{'class':'row'}}
		) }}
								
										¤form_rows¤

		<button class="btn btn-primary mb-2" id="bouton_submit" type="submit">
			{% if action=='new' %}
				Créer
			{% else %}
				Mettre à jour
			{% endif %}
		</button>
		<a href="{{ path('¤entity¤_index') }}">
			<button class="btn btn-secondary" type="button">
				Revenir à la liste
			</button>
		</a>
		<input type="hidden" id="token" value="{{ csrf_token('upload') }}"/>

		{{ form_end(form) }}
	</div>

{% endblock %}