{% extends '¤extends¤' %}
{% block title %}
	¤Entity¤
	{{entity.id}}
{% endblock %}
{% block body %}
	<div class="col-12 text-center">
		<h1>
			{{'Vue du n°='~entity.id}}
		</h1>
	</div>
	<div class="row">
		{% for method in methods %}
			<div class="col-4 mb-2">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">{{method.nom|capitalize}}</h3>
						<p class="card-text">
							{% if method.valeur|TBisArray %}
								{{method.valeur|json_encode}}
							{% elseif method.valeur|TBisDate %}
								{{method.valeur|date('d/m/Y à H:i')}}
							{% else %}
								{{method.valeur}}
							{% endif %}

						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
